
:after,:before {
    --tw-content: ""
}


html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: var(--font-inter),ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-feature-settings: "ss03","cv02","cv11";
    font-variation-settings: normal
}



.container {
  display: flex; /* o block, según el diseño */
  width: 100%;
  height: 100vh;
}


.container2 {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: hidden; /* Previene el desbordamiento horizontal */
}


main.right {
    width: 50%; /* Mitad derecha */
    height: 100%; /* Toda la altura */
    background-color: #0a192f; /* Fondo para diferenciar */
    padding: 20px; /* Espaciado interno */
    overflow-y:hidden;
}
.container3 {
  margin-top: 60px;
}

header.left {
    width: 50%; /* La mitad izquierda de la pantalla */
    height: 100%; /* Completa la altura */
    background-color: #0a192f;
    padding: 20px;
    display: flex; /* Usar Flexbox */
    flex-direction: column; /* Alinear los elementos verticalmente */
    justify-content: space-between; /* Distribuir el contenido verticalmente */
    overflow: hidden; /* Evitar scroll */
    align-items: center;
}

.header-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    overflow: hidden;
    margin-top: 60px;
}
.header-info app-social-links{
    margin-top: 350px;
}


.header-info h1, .header-info h2, .header-info p {
    margin: 0; /* Elimina el margen por defecto */
    padding: 0; /* Elimina el relleno por defecto */
}

.header-info h1 {
    margin-bottom: 10px; /* Espacio debajo del h1 */
    font-size: 48px;
    color: #E2E8F0;
    
}

.header-info h2 {
    margin-bottom: 5px; /* Espacio debajo del h2 */
    font-size: 20px;
    color: #E2E8F0;
}

.header-info p {
    margin-bottom: 15px; /* Espacio debajo del p */
    font-size: 16px;
    color: #94A3B8;

    
}




.nav-link {
  color: white;
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-left: 1rem;
  transition: width 0.3s, background-color 0.3s;
}

.nav-indicator {
  position: absolute;
  left: 0;
  bottom: 6px;
  width: 2rem;
  height: 2px;
  background-color: #64748B;
  transition: width 0.3s, background-color 0.3s;
}

.nav-text {
  color: #64748B;
  padding-left: 4rem;
  transition: transform 0.3s, color 0.3s;
}

.nav-link:hover .nav-indicator {
  width: 4rem;
  background-color: #ffffff;
}

.nav-link:hover .nav-text {
  color: #ffffff;
}

.active .nav-text {
  color: #ffffff; /* Cambia el color a blanco cuando esté activo */
}

.active .nav-indicator {
  background-color: #ffffff; /* Cambia el color de la línea a blanco cuando esté activo */
  width: 4rem; /* Expande la línea cuando esté activo */
}



  .container3 {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; /* Ocultar barra de desplazamiento en IE y Edge */
    scrollbar-width: none; /* Ocultar barra de desplazamiento en Firefox */
    padding-top: 60px;
}

/* Ocultar la barra de desplazamiento en navegadores basados en WebKit */
.container3::-webkit-scrollbar {
    display: none;
}
